--find-links https://pytorch-geometric.com/whl/torch-2.1.0+cu121.html
torch
torch-geometric
torch-scatter==2.1.2+pt21cu121
torch-cluster==1.6.2+pt21cu121
lightning
torchmetrics
rich
torchinfo
aim
tqdm
